* {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
nav {
    width: 100%;
    background-color: orange;
    height: 50px;
    display: flex;
}
a{
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    text-decoration: none;
}
a:hover, #main{
    background-color: rgb(252, 149, 14);
}
nav div {
    background-color:orange;
}
nav p {
    margin: 10px 10px;
    font-size: 18px;
    color: white;
}
table {
    border-collapse: collapse;
    background-color: white;
}
td {
    text-align: center;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border: 1px solid rgb(206, 206, 206);
}
.right2 {
    border-right: white 3px solid;
}
.left2 {
    border-left: white 3px solid;
}
.top2 {
    border-top: white 3px solid;
}
.bottom2 {
    border-bottom: white 3px solid;
}
.panel {
    margin: 10px 200px 0px;
    display: flex;
    gap: 10px;
}
.fon {
    display: inline-block;
    background-color: white;
    padding: 2px;
}
#tables {
    margin-top: 30px;
    display: flex;
    justify-content:space-evenly;
}
#forcen {
    margin: 20px 150px;
}
.panel button, #clear {
    padding: 10px;
    border-radius: 10px;
}
.vis {
    visibility: hidden;
}